.App {
  background-color: #e4e9f0;
  padding-bottom: 3%;
}

.tab-container {
  margin-top: 20px;
  width: 100%;
}

.tab-button {
  margin-bottom: 1.5%;
  padding: 30px;
  width: 50%;
  border-color: #ccc;
  border-bottom: none;
  background-color: transparent;
  border-color: #999;
  font-size: 20px;
  cursor: pointer;
}

.tab-button:first-of-type {
  border-right: 0px;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}